<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Livro</title>

</head>

<body>
    <h1>Cadastro de Livro</h1>
    <form action="index.php" method="POST">
        <input type="text" name="id" id="id" readonly value="{id}" hidden>
        <label for="titulo">Titulo:</label>
        <input type="text" name="titulo" id="titulo" value="{titulo}"><br><br>
        <label for="pub">Publicação</label>
        <input type="text" name="pub" id="pub" value="{pub}"><br><br>
        <label for="capa">Capa</label>
        <input type="text" name="capa" id="capa" value="{capa}"><br><br>
        <label for="categoria">Categoria:</label>
        <select name="categoria" id="categoria">
            {categoria}
        </select><br><br>
        <label for="preco">Preço</label>
        <input type="number" name="preco" id="preco" value="{preco}"><br><br>
        <button type='submit' name='acao' value='salvar'>Salvar</button>
        <button type='submit' name='acao' value='excluir'>Excluir</button>
        <button type='reset'>Cancelar</button>
    </form>

</body>

</html>